
@{
    ViewBag.Title = "login";
    Layout = "~/Views/Account/_LayoutPage1.cshtml";
}

<div class="login-box">
    <form action="verify" method="post">
        <h1>Login</h1>
        <div class="text-box">
            <i class="fa fa-user" title="Edit"></i>
            <input type="text" placeholder="Username" name="Name" value="" required="" />
        </div>

        <div class="text-box">
            <i class="fa fa-lock" aria-hidden="true"></i>
            <input type="password" placeholder="Password" id="pass" required="" name="Password" />
        </div>

        <input class="btn" type="submit" name="" value="Sign-in" />

        <div class="reg-link">
            <p>Don't have an account? <a href="~/Views/Account/Signup.cshtml"> Sign Up</a></p>
        </div>
    </form>

</div>



